* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;

    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: rgb(214, 222, 224);
}

body {
    font-family: 'Manrope', sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    overscroll-behavior-y: none;
    background-color: #fff;
    padding: 2.5rem;
    display: flex;
}

.logo {
    height: 5rem;
    margin-bottom: 4rem;
    align-self: center;

}

.workouts {
    list-style: none;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
    width: 0;
}

.workout {
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 45rem;
    padding: 3rem 5rem 4rem 5rem;
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem 1.4rem;
    transition: all 0.5s, transform 1ms;
    margin-bottom: 1.75rem;
    background-color: var(--color-dark--2);
    border-radius: 3px;
    padding: 1rem 1.6rem;
}

.form__row {
    display: flex;
}

.form__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
}

.form__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: var(--color-light--3);
    transition: all 0.3s;
}

.form__input:focus {
    outline: none;
    background-color: var(--color-light--2);
}

.form.hidden {
    transform: translateY(-10rem);
    height: 0;
    margin-bottom: 0;
    padding: 0 2.25rem;
    opacity: 0;
}

.hidden {
    display: none;
}

.workout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.2rem;
    padding: 1.2rem 1.4rem;
    margin-bottom: 1.4rem;
    background-color: var(--color-dark--2);
    border-radius: 3px;
}

.workout_heading {
    grid-column: 1 / -1;
    font-size: 1.6rem;
}

.workout_icon {
    font-size: 1.4rem;
}

.workout_value {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.workout_unit {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--color-light--1);
}

/* .workout__details:nth-child(3) {
    margin-right: 0.8rem;
} */


.workout--cycling {
    border-left: 4px solid var(--color-brand--1);
}

.workout--running {
    border-left: 4px solid var(--color-brand--2);
}

.twitter-link:link,
.twitter-link:visited {
    color: inherit;
}

.map {
    flex: 1;
    background-color: var(--color-light--1);
}

.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
}

.running-popup .leaflet-popup-content-wrapper {
    border-left: 4px solid var(--color-brand--2);
}

.cycling-popup .leaflet-popup-content-wrapper {
    border-left: 4px solid var(--color-brand--1);
}